<div class="container">
  <div class="d-flex justify-content-center my-4">
    <h1 class="text-center">Create a new task</h1>
  </div>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance=outline class="col-6">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

      <mat-form-field appearance=outline class="col-3">
        <mat-label>Date done</mat-label>
        <input matInput type="date" formControlName="dateDone">
      </mat-form-field>

      <mat-form-field appearance=outline class="col-3">
        <mat-label>Hours worked</mat-label>
        <input matInput type="number" formControlName="hoursWorked">
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col">
        <button mat-raised-button
                color="warn"
                routerLink="/"
                class="w-100">
          Cancel
        </button>
      </div>

      <div class="col">
        <button mat-raised-button
                color="primary"
                [disabled]="!taskForm.valid"
                type="submit"
                class="w-100">
          Save Task
        </button>
      </div>
    </div>
  </form>
</div>
