.footer-clean {
  background-color: rgba(0,0,0,0.12);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-clean .copyright {
  text-align: center;
  opacity: 0.8;
  font-size: 0.9rem;
  margin-bottom: 0;
}
