<div class="container">
  <div class="d-flex justify-content-center my-4">
    <h1 class="text-center">Overview</h1>
  </div>

  <table mat-table [dataSource]="tasks" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dateDone">
      <th mat-header-cell *matHeaderCellDef> Date done</th>
      <td mat-cell *matCellDef="let element"> {{element.dateDone}} </td>
    </ng-container>

    <!-- Hours Column -->
    <ng-container matColumnDef="hoursWorked">
      <th mat-header-cell *matHeaderCellDef> Hours worked</th>
      <td mat-cell *matCellDef="let element"> {{element.hoursWorked}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button
          color="primary"
          routerLink="/new"
          class="w-100 my-4">
    New Task
  </button>
</div>
