html, body, app-root {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.0rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
